server {
        listen {{ nginx.service_listen_port }};
        server_name {{ nginx.hostname }};

        access_log /var/log/nginx/{{ nginx.service_name }}_access.log;
        error_log  /var/log/nginx/{{ nginx.service_name }}_error.log;

        
        

        location / {
            alias /etc/nginx/static_out/;
            #autoindex on;
            index page.html;
        }


    }